@import '../SdElevation/mixins';

::-webkit-scrollbar{
  width: 10px;
  padding: 4px;
}

::-webkit-scrollbar-track{
  background-color: var(--background-variant);
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary-darker);
  border-radius: 30px;
  transition: all .6s ease-in-out;
  @include sd--elevation(4)
  &:hover{
    background-color: var(--primary);
  }
}

::-webkit-scrollbar-button{
  background: green;
  width: 16px;
  height:16px;
}
