$space: (
  inset: (
    default: 16px,
    xs: 4px,
    sm: 8px,
    md: 16px,
    lg: 32px,
    xl: 64px
  ),
  offset: (
    default: 8px 16px,
    sm: 4px 8px,
    md: 8px 16px,
    lg: 16px 16px,
    xl: 32px 32px
  ),
  stack: (
    default: 0 0 16px,
    xs: 0 0 4px,
    sm: 0 0 8px,
    md: 0 0 16px,
    lg: 0 0 32px,
    xl: 0 0 64px
  )
);

.divider{
  position: relative;
  border: none;
  max-width:100%;
  height: 4px;
  &:after{
    content:'';
    height: 1px;
    background-color: v(--background-highlight);
    position: absolute;
    left: 0;
    right:0;
    top: 50%;
  }
  
  &--sm{
    height: 8px;
  }
  &--md{
    height:16px;
  }
  &--lg{
    height: 64px;
  }
}
