
.text{
  &__headline{
    font-size: rem(40);
    line-height: rem(42);
    font-weight: 300;
    letter-spacing: 1.2px;
    color: v(--text);
  }
  &__caption{
    color: v(--text-accent);
    font-size: rem(16);
    font-weight: 500;
    text-transform: uppercase;
    line-height: rem(16);
    letter-spacing: 2px;
    margin-bottom:4px;
  }
  &__footnote{
    color: v(--text-accent);
    font-size: rem(14);
    line-height: rem(14);
    margin-bottom: 0;
  }
}

.sd--list{
  &__item{
    padding: spacing(inset, sm);
    list-style-type: disc;
  }
}
