@import './scss/reset';
@import './scss/css-vars';
@import './scss/typography';
@import './scss/scrollbar';

// Move these into own file.
.sd--divider{
  border-color: var(--divider);
  background-color: var(--divider);
  &--lg{
    margin: 32px 0;
  }
}
