@import './scss/reset';
@import './scss/functions';
@import './scss/mixins';
@import './scss/get-contrast';
@import './scss/colors';
@import './scss/css-vars';
@import './scss/scrollbar';
@import './scss/typography';
@import './scss/spacing'
;
// Move these into own file.
.sd--divider{
  border-color: var(--divider);
  background-color: var(--divider);
  &--lg{
    margin: 32px 0;
  }
}
